#map {
	position: fixed;
	width: 100%;
	height: 100%;
	top:50px;
}
#info {
	position: absolute;
	top: 50px;
	width: 300px;
	height:100%;
	padding: 10px;
	background: rgba(0,0,0,.5);
	color: white;
	/*display: none;*/
}
#info li{
	list-style-type: none;
}
#info ul{
	padding: 0;
}
#info div{
	display: inline-block;	
}
#info .complete-percentage{
	position: absolute;
	right: 40px;
	top: 48px;
}
#info .candidate-number{
	border: 1px solid white;
	border-radius: 20px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	box-sizing: border-box;
	font-size: .8em;
	margin-right: 2px;
}
#info .candidate-name{
	margin-right: 5px;
	/*display: inline-block;*/
}
#info .bar{
	transition: width 1s ease-in-out;
	height: 100%;
	max-width: 100px;
	margin-right: 5px;
}
#info .bar-wrapper{
	position: relative;
	width:200px;
	height:20px;
}
.leaflet-container{
	background: transparent;
}