#container{
	text-align: center;
	width: 700px;
	margin: 0 auto;
	padding-top: 100px;
	position: relative;
}
#legend{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	top: -250px;
}
#legend .bullet{
	display: inline-block;
	width: .8em;
	height: .8em;
	margin-right: .2em;
}
#legend .vote{
	margin-left: .2em;
}
li{
	list-style-type: none;
}
li:first-child{
	float: right;
}
li:last-child{
	float: left;
}

#update-time{
	position: fixed;
	bottom: 5px;
	right: 5px;
}