#container{
	text-align: center;
	width: 900px;
	margin: 0 auto;
	padding-top: 100px;
	position: relative;
}
#legend{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	top: -250px;
}
#legend .avatar{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-right: .2em;
	background-size: cover;
}
#legend .vote{
	margin-left: .2em;
}
li{
	list-style-type: none;
}
li:first-child{
	float: right;
}
li:last-child{
	float: left;
}
body{
	color: white;
}